<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Finalizados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="( _shoppingListService .lists | pendings:true ) .length <= 0">
    <ion-row>
      <ion-col class="no-pending-lists text-center">
        <ion-icon class="pendings-icon" name="file-tray-stacked-outline"></ion-icon>
        <p>No hay listas de tareas <strong>finalizadas</strong></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let list of _shoppingListService .lists | pendings:true; let i = index;">
  
    <ion-card-header
      (click)="goToPendingDetail( list.id )"
    >
      <ion-toolbar>
        <ion-card-title>{{ list .name }}</ion-card-title>
        <ion-buttons slot="end">
          <ion-button size="large" color="primary">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-note>
          Cantidad {{ list .items .length }}
        </ion-note>
      </ion-toolbar>
    </ion-card-header>

    <ion-card-content>

      <ion-item-group>
        <ion-item 
          *ngFor="let item of list.items | slice:0:2; let j = index;"
          (click)="goToPendingDetail( list.id )"
        >
          <ion-icon 
            name="ellipse-outline" 
            slot="start"
            *ngIf="! item .isCompleted" 
          ></ion-icon>
          <ion-icon
            name="checkmark-circle-outline" 
            slot="start"
            *ngIf="item .isCompleted"
          ></ion-icon>
          <ion-label [class.cross-out-text]="item.isCompleted">{{ j + 1 }}. {{ item .name }}.</ion-label> 
        </ion-item>

        <ion-button 
          class="button-block" 
          color="light"
          *ngIf="list .items .length > 2"
        >
          <ion-icon name="arrow-down-circle-outline"></ion-icon>
        </ion-button>
        
      </ion-item-group>
  
    </ion-card-content>

  </ion-card>

  <ion-fab 
    color="secondary"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button color="secondary" (click)="goToPendingAddPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
