<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button routerLink="/tabs/pendings" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ nameList | placeholder:'Nueva lista' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Card by Form -->
  <ion-card>
    <ion-card-header>
      Titulo
    </ion-card-header>
    
    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Nombre de la lista</ion-label>
        <ion-input type="text" name="nameList" [(ngModel)]="nameList"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Item</ion-label>
        <ion-input 
          type="text" 
          name="nameItem" 
          [(ngModel)]="nameItem"
          (keyup.enter)="add()"
        ></ion-input>
      </ion-item>

      <ion-button 
        id="btn-save" 
        class="button-block" 
        color="secondary"
        (click)="add()"
      >
        <ion-icon name="add-circle" slot="start"></ion-icon>
        Agrega
      </ion-button>

    </ion-card-content>
  </ion-card>

  <!-- Card by Items -->
  <ion-card>

    <ion-card-header>
      <h3>Items agregados</h3>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item *ngFor="let item of items; let i = index;">
          <ion-icon name="trash" slot="end"></ion-icon>
          {{ item .name }}
        </ion-item>
      </ion-list>

      <ion-button id="btn-add-list" class="button-block" color="secondary">
        <ion-icon name="add-circle" slot="start"></ion-icon>
        Agrega lista
      </ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>
